<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>http://www.xkcd.com/rss.xml</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.phdcomics.com/gradfeed.php</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.toothpastefordinner.com/rss/rss.php</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://garfieldminusgarfield.net/rss</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://feeds.feedburner.com/Starslip</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://feeds2.feedburner.com/JesusAndMo</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.rsspect.com/rss/pfsc.xml</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://wdr1.com/blog/calvin_and_hobbes.rdf</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.dieselsweeties.com/ds-unifeed.xml</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://feeds.feedburner.com/MurrayTheNut</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.chainsawsuit.com/feed.xml</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.909sickle.com/pss-rss.xml</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://feeds.feedburner.com/cowbirdsinlove</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.decorumcomics.com/rss.php</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.www.fw4d.com/feed/</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://overcompensating.com/index.xml</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://normallife.livejournal.com/data/atom</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.darcomic.org/feed/</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.20somethingcomic.com/?feed=rss2</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.smbc-comics.com/rss.php</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.allcapscomix.com/feed/</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.rsspect.com/rss/threeps.xml</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://feeds.feedburner.com/blackrainbow</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.alteredconfusion.com/comics/atom.xml</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.altconvos.com/?feed=rss2</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://feeds.feedburner.com/AnimalWardComic</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://antisoshell.com/feed/</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.balloonsandpanels.blogspot.com/feeds/posts/default?alt=rss</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.bearnutscomic.com/feed/</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.applegeeks.com/rss/?cat=lite</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://antisoshell.com/feed/</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://community.livejournal.com/pearlswine/data/rss</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://community.livejournal.com/getfuzzyfeed/data/rss</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.brawlinthefamily.com/?feed=rss2</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://feeds2.feedburner.com/virtualshackles</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.rsspect.com/rss/wigu.xml</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://henrik.nyh.se/scrapers/cyanide_and_happiness.rss</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.dorktower.com/feed/</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://feeds.feedburner.com/hijinksensue</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://feeds.feedburner.com/beingfive</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://www.amazingsuperpowers.com/category/comics/feed/</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>http://feeds2.feedburner.com/warehousecomic/SNiV</string>
		<key>checked</key>
		<true/>
	</dict>
</array>
</plist>
